
/*Justify text in paragraphs*/
.mathjax_ignore>p {
    text-align: justify;
}

/* Style class for the short description shown on homepage */
.one-liner {
    margin: 3%;
    display: grid;
    font-family: "Times New Roman", var(--pst-font-family-base-system);
    font-stretch: expanded;
    font-style: italic;
    font-size: var(--pst-font-size-h4);
    text-align: center;
}