.bd-header-announcement {
  min-height: 2rem;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--pst-color-background);
  padding: 0.25rem 12.5%; /* Horizontal padding so the width is 75% */
}

.bd-header-announcement p {
  font-weight: bold;
  color: var(--pst-color-background);
  margin: 0;
}

.bd-header-announcement:after {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--pst-color-secondary);
  opacity: 1;
  content: "";
  z-index: -1;
}

.bd-header-announcement:empty {
  display: none;
}
